---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("blog");
interface BlogPost {
  data: {
    pubDate: Date; // Now properly typed as Date
  };
}

const sortedPosts = allPosts.sort((a: BlogPost, b: BlogPost) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
const pageTitle = "News";
---

<BaseLayout pageTitle={pageTitle}>
  <p>My latest posts in reverse chronological order.</p>
  <ul>
    {
      sortedPosts.map((post: any) => (
        <BlogPost
          url={`/posts/${post.id}/`}
          postDate={post.data.pubDate}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
