---
import Footer from "../components/Footer.astro";
import Solari from "../components/Solari.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="ml-0 mr-auto flex h-[60vh] flex-col justify-center"
>
  <main class="space-y-4 text-zinc-500">
    <Solari />
  </main>
</Layout>
<Footer />
