---
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-[75vh] w-96 flex-col justify-center md:-translate-x-[25rem]"
>
  <main class="space-y-4 text-zinc-500">
    <p>I do web things.</p>
    <p>I used to do music things.</p>
  </main>
</Layout>
<Footer />
