<footer
  class="items-left mx-auto mb-6 flex h-[20vh] flex-col gap-4 text-left md:flex-row md:items-start md:justify-center"
>
  <div class="w-96 md:text-left">
    <h2 class="max-w-sm font-heading text-xl">About</h2>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="w-96 md:text-left">
    <h2 class="max-w-sm font-heading text-xl">Words</h2>
    <ul>
      <li><a href="/about">Item 1</a></li>
      <li><a href="/about">Item 2</a></li>
      <li><a href="/about">Item 3</a></li>
      <li><a href="/about">Item 4</a></li>
    </ul>
  </div>
  <div class="w-96 md:text-left">
    <h2 class="max-w-sm font-heading text-xl">Projects</h2>
    <ul>
      <li><a href="/about">Item 1</a></li>
      <li><a href="/about">Item 2</a></li>
      <li><a href="/about">Item 3</a></li>
      <li><a href="/about">Item 4</a></li>
    </ul>
  </div>
</footer>
