---

---

<h1
  class="mt-24 font-heading text-[7.4rem] leading-tight tracking-tight"
  transition:name="header"
>
  kelly, d<span class="text-gray-300 dark:text-gray-700">avid</span>
</h1>
<h2 class="font-mono text-sm tracking-widest text-[#2D3047] dark:text-zinc-300">
  ui/ux, front end engineering, training, writing, music, and more
</h2>
