---

---

<div
  class="fixed bottom-[15px] left-1 z-40 rounded-tr-xl bg-zinc-900 px-8 py-4 font-heading text-5xl tracking-tight text-zinc-200 dark:bg-zinc-100 dark:text-[#2D3047]"
>
  <h1 transition:name="header">
    kelly, d<span class="text-gray-600 dark:text-gray-300">avid</span>
  </h1>
  <h2
    class="bg-zinc-900 font-mono text-sm tracking-wider dark:bg-zinc-100 dark:text-[#2D3047]"
  >
    ui/ux, front end engineering, training, writing, music, and more
  </h2>
</div>
