---
import { EMAIL } from "../consts";
---

<h1 class="font-heading text-3xl">
  kelly, d<span class="text-gray-300 dark:text-gray-600">avid</span>
</h1>
<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/"> home </a>
    <a href="/posts"> posts </a>
    <a href={`mailto:${EMAIL}`}>email</a>
  </nav>
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
