---

---

<div
  class="fixed bottom-[15px] left-1 z-40 rounded-tr-xl bg-[#2D3047] px-8 py-4 font-heading text-3xl tracking-tight text-zinc-200 dark:bg-zinc-100 dark:text-[#2D3047] md:text-5xl"
>
  <h1 transition:name="header">
    kelly, d<span class="text-gray-600 dark:text-gray-300">avid</span>
  </h1>
  <h2 class="font-mono text-sm tracking-wider dark:text-[#2D3047]">
    ui/ux, front end engineering, training, writing, music, and more
  </h2>
</div>
