---

---

<nav
  class="fixed left-1/2 right-auto top-8 z-40 -translate-x-1/2 transform rounded-full bg-[#2D3047] px-2 py-3 font-mono text-sm font-normal tracking-tighter text-zinc-200 shadow-lg dark:bg-zinc-100 dark:text-[#2D3047] md:text-lg"
>
  <a href="/">home</a>
  <a href="/words">words</a>
  <a href="/projects">projects</a>
</nav>

<style>
  nav a {
    @apply rounded-3xl px-1 py-2 transition-colors hover:bg-zinc-100 hover:text-[#2D3047] dark:hover:bg-[#2D3047] dark:hover:text-zinc-100 md:px-4;
  }
</style>
