---

---

<nav
  class="text-md fixed right-1 top-[15px] z-40 transform rounded-bl-xl rounded-br-xl bg-[#2D3047] py-3 font-mono font-normal tracking-tighter text-zinc-200 dark:bg-zinc-100 dark:text-[#2D3047] sm:left-1/2 sm:right-auto sm:-translate-x-1/2 sm:px-2"
>
  <a href="/">home</a>
  <a href="/words">words</a>
  <a href="/projects">projects</a>
</nav>

<style>
  nav a {
    @apply p-4 transition-colors hover:text-white hover:underline dark:hover:text-black;
  }
</style>
